<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BunnyBlog</title>
  </head>
  <body style="font-family: Lucida Console">
    <table width="100%">
      <tr>
        <td width="50%">
          <h1>BunnyBlog</h1>
          <p>by Ahmed Sultan, Jeff Lin, and Leia Park</p>
        </td>

        <td align="right">
          <button title="login">Log In</button>
          <button title="register">Register</button>
        </td>
      </tr>

      <tr>
        <td width="10%">
          <h3>Users</h3>
        </td>
        <td>
          <h3>Discover</h3>
        </td>
      </tr>
    </table>

  </body>
</html>
