<!DOCTYPE html>
{% extends "template.html" %}

{% block title %} | Login{% endblock %}

{% block body %}
{% if msg %}
<h3>{{ msg }}</h3>
{% endif %}
  <form action="/login" method="GET" align="center">
    Username<br>
  	<input type="text" name="username"><br><br>
    Password<br>
  	<input type="password" name="password"><br><br>
  	<button type="submit">Submit</button>
  </form>

  <form action="/register" align="center">
    <button type="submit">Register</button>
  </form>
  {% endblock %}

  </body>
</html>
