<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BunnyBlog {% block title %}{% endblock %}</title>
  </head>
  <body style="font-family: Lucida Console">

    <table width="100%">
      <tr>
        <td width="70%">
          <h1>BunnyBlog</h1>
          <p>by Ahmed Sultan, Jeff Lin, and Leia Park</p>
        </td>

        <td align="right">
          {% block headerbuttons %}
          {% endblock %}
        </td>
      </tr>
    </table>

    {% block body %}
    {% endblock %}

  </body>
</html>
